:root {
    --main-light: #efebe0;
    --main-dark: #202124;
    --main-color: #D5573B;
    --accent: #9368B7;
}

html {
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 100px;
    grid-template-areas:
        'header'
        'content'
        'footer';
}

/* --- --- --- --- --- HEADER --- --- --- --- --- --- */

.header {
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: header;
}

.add {
    margin-top: 2rem;
    padding: 1.5rem;
    color: #efebe0;
    border: none;
    outline: none;
    background: var(--accent);
    cursor: pointer;
}

.add:hover {
    padding: 1.6rem;
    transition: .5s;
}

/* --- --- --- --- --- CONTAINER --- --- --- --- --- --- */

/* 3D books using pure CSS, credits to @scastiel */

.content {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-area: content;
    padding: 3rem;
}

.book-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
    perspective: 600px;
}

@keyframes initAnimation {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(-30deg);
    }
}

.book {
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(-30deg);
    transition: 1s ease;
    animation: 1s ease 0s 1 initAnimation;
}

.book-container:hover .book,
.book-container:focus .book {
    transform: rotateY(0deg);
}

.book> :first-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    width: 200px;
    height: 300px;
    transform: translateZ(25px);
    background-color: var(--main-color);
    border-radius: 0 2px 2px 0;
    box-shadow: 5px 5px 20px #666;
}

.book::before {
    position: absolute;
    content: ' ';
    background-color: var(--main-color);
    left: 0;
    top: 3px;
    width: 48px;
    height: 294px;
    transform: translateX(172px) rotateY(90deg);
    background: linear-gradient(90deg,
            #fff 0%,
            #f9f9f9 5%,
            #fff 10%,
            #f9f9f9 15%,
            #fff 20%,
            #f9f9f9 25%,
            #fff 30%,
            #f9f9f9 35%,
            #fff 40%,
            #f9f9f9 45%,
            #fff 50%,
            #f9f9f9 55%,
            #fff 60%,
            #f9f9f9 65%,
            #fff 70%,
            #f9f9f9 75%,
            #fff 80%,
            #f9f9f9 85%,
            #fff 90%,
            #f9f9f9 95%,
            #fff 100%);
}

.book::after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    width: 200px;
    height: 300px;
    transform: translateZ(-25px);
    background-color: var(--main-light);
    border-radius: 0 2px 2px 0;
    box-shadow: -10px 0 50px 10px #666;
}


.title {
    font-size: 150%;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.author {
    color: var(--main-color);;
}

/* --- --- --- --- --- FOOTER --- --- --- --- --- --- */
.footer {
    grid-area: footer;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}